<div>
<form class="form-inline" role="form">
	<input type="text" class="form-control" placeholder-"Author" ng-model="author">
	<input type="text" class="form-control" placeholder-"Title" ng-model="title">
	<input type="text" class="form-control" placeholder-"Chapter" ng-model="chapter">
	<button class="btn btn-default" ng-click="rename(author, title, chapter)">Rename</button>
	</form>
</div>
<hr>
<div>
	<form class="form-inline" role="form">
		<textarea id="hebrew-editor" class="form-control"  dir="rtl"></textarea>
		<textarea id="editor" class="form-control"></textarea>
	</form>
</div>